* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

header {
    background-color: bisque;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

.page-wrapper {
    display: flex;
}

.main-supporting {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

aside {
    display: flex;
    justify-content: flex-end;
}